.vmin {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.none {
    width: 5px;
    height: 1px;
    background: gray;
}

.on {
    width: 5px;
    height: 5px;
    background: #4d7198;
}

.checkpoint {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #4d7198;
}

.off {
    width: 3px;
    height: 3px;
    background: gray;
}
