#activity > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#activity > div.none {
    width: 5px;
    height: 1px;
    background: gray;
}

#activity > div.on {
    width: 5px;
    height: 5px;
    background: #4d7198;
}

#activity > div.off {
    width: 3px;
    height: 3px;
    background: gray;
}

#activity > div.checkpoint {
    width: 7px;
    height: 7px;
    background: #4d7198;
}
